<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <h1>Page not found</h1>
    <p>The requested page could not be found.</p>
    <p>Valid routes:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/categories">Categories</a></li>
    </ul>
</body>
</html>
