<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>Im a 19 year old student studying software</p>
    <p>I chose to study software because of my love for video games. </p>
    <p>I like to skate and make music and I'm learning to animate</p>
    <p>I want to work at a AAA studio for a big project <br> 
       to gather enough skill and experience before I start my own independent project</p>
    </article>
    </section>
    <aside class="col-md-3">
    <h2>Coming Soon</h2>
      <p>Stay tuned for future updates</p>
    </aside>
</div>
